/* 
    GENERICS
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 30px;
}

.container {
  width: 1200px;
  margin: auto auto;
  align-items: center;
}

.header-container {
  height: 100px;
  background-color: #255ee9;
  justify-content: space-between;
}

li {
  padding: 0px 25px;
}

ul {
  list-style: none;
  width: 100%;
  justify-content: center;
}
li:hover {
  text-decoration: underline;
}
.bg-grey {
  background-color: #e7e4e4;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

/* 
   JUMBOTRON
*/

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

.debug.box-titolo {
  border-radius: 10px;
  background-color: #ee82ee;
}
.box-titolo > * {
  padding: 2rem;
}

.box-titolo {
  width: 800px;
  height: 400px;
  flex-direction: column;
  text-align: center;
}

.p-button > .button:last-child {
  background-color: #23272a;
  color: white;
}

/* 
    UTILITIS
*/

.wrap {
  flex-wrap: wrap;
}
.debug {
  border: 2px dashed rgb(0, 0, 0);
}
.debug-white {
  border: 2px dashed white;
}

.flex {
  display: flex;
}

< .logo {
  width: 20%;
}

/* 
  BUTTON
*/
.p-button {
  justify-content: center;
}
.button {
  margin: 0px 20px;
  padding: 10px 25px;
  color: black;
  background-color: white;
  border-radius: 100px;
}
/* 
    CARD-section
*/
.wave {
  color: #e7e4e4;
  display: block;
}
.upside-down {
  transform: rotate(180deg);
}

.card-pink > * {
  padding: 20px;
  color: #23272a;
}
.title {
  font-size: 2rem;
  line-height: 50px;
}
.card-blue {
  width: 70%;
}

.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}
.card-pink {
  width: 30%;
}

.card-aqua {
  width: calc(100% / 4);
}
.card-red {
  width: 45%;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
}

img:not(.logo) {
  width: 100%;
}

.end {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.big-container {
  color: #23272a;
  text-align: center;
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: white;
}

.card-green > .title > h2 {
  padding-bottom: 20px;
}

.star {
  height: 80px;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-position: top;
  margin: auto 300px;
  align-items: center;
  justify-content: center;
}

.big-container > .button,
.end > .button {
  color: white;
  background-color: #8ea1e1;
}

/* 
                  # FOOTER
                */
.container-footer {
  width: 1200px;
  margin: auto auto;
  background-color: #23272a;
}
.background-footer {
  background-color: #23272a;
  border-bottom: 2px solid #48557e;
  color: #7289da;
}
/* 
  FIRST COLUMN (TITOLO + ICON)
*/
.ita > img {
  width: 2rem;
  margin-right: 5px;
}

.ita {
  align-items: center;
  margin-bottom: 10px;
}
.icon {
  max-width: 50%;
  justify-content: space-between;
}
.icon > div > i:hover,
a:hover {
  color: #7289da !important;
}
.button:hover {
  filter: invert(85%);
  box-shadow: 2px 2px 2px;
}
/* 
  COLONNA - PRODOTTO-COMPAGNIA-RISORSE-NORME
*/
.card {
  flex-direction: column;
  align-items: flex-start;
}
.card > div > ul > li {
  padding: 0;
}
/* 
    FOOTER CON LOGO-BUTTON
*/
.login {
  width: 20%;
  justify-content: end;
}
.card-red > .title {
  margin-bottom: 20px;
}
